<!DOCTYPE html>
<html lang="en" ng-app="plateMaker">
<head>
    <meta charset="UTF-8">
    <title>Plate Maker</title>

    <style>
        table {
            border: 0;
            border-collapse: collapse;
            margin-bottom: 25px;
        }
        td {
            border: 1px solid #a6a6a6;
        }
        td input {
            background: transparent;
            border: 0;
            font-size: 14px;
            min-width: 100%;
            outline: 0 !important;
            width: 100px;
        }
        td:nth-child(2n+1) {
            font-weight: bold;
            padding: 2px;
            text-align: right;
        }

        .fillin { background: rgb(210, 230, 210); }
        .warning { background: rgb(250, 200, 150); }
        .info { background: rgb(210, 210, 230); }

        *[hidden] { display: none; } 
    </style>

    <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>

    <script type="text/javascript">
        angular.module("plateMaker", [])
        .controller("PlateController", function($scope) {
            $scope.cStockA = 5e6;
            $scope.cLowA = 1;
            $scope.cHighA = 500;
            $scope.cStockB = 100e3;
            $scope.cLowB = 50;
            $scope.cHighB = 1000;
            $scope.nA = 12;
            $scope.nB = 8;
            $scope.v = 600;
            $scope.vTube = 3000;
            $scope.cultureOD = 0.2;
            $scope.finalOD = 0.02;
            $scope.safety = 1.15;

            $scope.recalculate = function() {
                var safety = $scope.safety;

                // Total wells
                var nWells = $scope.nA * $scope.nB;

                // Dilution factor between rows for each drug.
                var kDA = Math.pow($scope.cLowA / $scope.cHighA, 1 / ($scope.nA - 1));
                var kDB = Math.pow($scope.cLowB / $scope.cHighB, 1 / ($scope.nB - 1));

                // Culture dilution coefficient.
                var kC = $scope.finalOD / $scope.cultureOD;

                // Drug dilution coefficient from the intermediate to the final step.
                var kDrug = 1/20;

                // Total volume of the last tubes for each drug, including the volume that needs to be taken out for serial dilutions and still have a working volume left.
                var vLastA = $scope.vTube / (1 - kDA);
                var vLastB = $scope.vTube / (1 - kDB);

                // Volume of drug stock to add to the last tube of each series.
                var vDrugA = dilute($scope.cStockA, $scope.cHighA / kDrug, vLastA);
                var vDrugB = dilute($scope.cStockB, $scope.cHighB / kDrug, vLastB);

                // Volume to carry over in the serial dilutions.
                var vSerialA = vLastA * kDA;
                var vSerialB = vLastB * kDB;

                // Export variables
                $scope.vMediaA = (vLastA - vDrugA);
                $scope.vMediaB = (vLastB - vDrugB);
                $scope.vDrugA = vDrugA;
                $scope.vDrugB = vDrugB;
                $scope.vSerialA = vSerialA;
                $scope.vSerialB = vSerialB;
                $scope.vCulture = $scope.v * kC; // In each well
                $scope.vDrug = $scope.v * kDrug; // In each well
                $scope.vMedia = $scope.v - $scope.vCulture - 2 * $scope.vDrug; // In each well
                $scope.vCultureBoat = $scope.vCulture * nWells * safety // In the boat
                $scope.vMediaBoat = $scope.vMedia * nWells * safety; // In the boat
                $scope.vTransfer = $scope.v - 2 * $scope.vDrug;

                $(".procedure").show();
            };
            
            $scope.$watchGroup(["cStockA",
                "cLowA",
                "cHighA",
                "cStockB",
                "cLowB",
                "cHighB",
                "nA",
                "nB",
                "v",
                "cultureOD",
                "finalOD"], $scope.recalculate);
        })
        .filter("vol", function() {
            return function volFilter(input) {
                var unit = "uL";
                if (input > 1000) {
                    input /= 1000;
                    unit = "mL";
                }
                return "" + input.toFixed(3) + " " + unit;
            };
        });

        function dilute(c1, c2, v2) {
            return c2 * v2 / c1;
        }
    </script>
</head>
<body ng-controller="PlateController">
    <h1>Let's make a plate!</h1>
    
    <table>
        <tr>
            <td>Stock [Drug A]</td>
            <td class="warning"><input type="number" ng-model="cStockA" /></td>

            <td>Lowest [Drug A]</td>
            <td class="fillin"><input type="number" ng-model="cLowA" /></td>

            <td>Highest [Drug A]</td>
            <td class="fillin"><input type="number" ng-model="cHighA" /></td>

            <td>Drug A Dimension</td>
            <td class="fillin"><input type="number" ng-model="nA" /></td>
        </tr>
        <tr>
            <td>Stock [Drug B]</td>
            <td class="warning"><input type="number" ng-model="cStockB" /></td>

            <td>Lowest [Drug B]</td>
            <td class="fillin"><input type="number" ng-model="cLowB" /></td>

            <td>Highest [Drug B]</td>
            <td class="fillin"><input type="number" ng-model="cHighB" /></td>

            <td>Drug B Dimension</td>
            <td class="fillin"><input type="number" ng-model="nB" /></td>
        </tr>
        <tr>
            <td>Volume (&mu;L)</td>
            <td class="warning"><input type="number" ng-model="v" /></td>

            <td>Culture OD600</td>
            <td class="warning"><input type="number" ng-model="cultureOD" /></td>

            <td>Final OD600</td>
            <td class="warning"><input type="number" ng-model="finalOD" /></td>
        </tr>
    </table>

    <button ng-click="recalculate();">Recalculate</button>

    <div class="procedure" hidden>
        <p>You need lots of the appropriate medium, {{ vDrugA | vol }} of stock drug A, and {{ vDrugB | vol }} of stock drug B.</p>
        <p>Set up a row of {{ nA }} culture tubes and a row of {{ nB }} culture tubes on a rack. These will represent the gradient of drugs A and B, respectively.</p>
        <p>Pipette 3 mL of medium into each tube, except the last of each row.</p>
        <p>Pipette {{ vMediaA | vol }} of media and {{ vDrugA | vol }} of drug A into the last tube of row A. Pipette {{ vMediaB | vol }} of medium and {{ vDrugB | vol }} of drug B into last tube of row B.</p>
        <p>Serial dilution: Transfer {{ vSerialA | vol }} from the last tube in row A into the previous tube and mix well. Repeat for every other tube, but do not dispense into the first tube.</p>
        <p>Serial dilution: Transfer {{ vSerialB | vol }} from the last tube in row B into the previous tube and mix well. Repeat for every other tube, but do not dispense into the first tube.</p>
        <!--<p>Fill up a boat with the appropriate medium. Pipette {{ vMedia | number:3 }} &mu;L of medium and {{ vCulture | number:3 }} &mu;L of culture into each well of the plate.</p>-->
        <p>For each plate, fill up a boat with {{ vMediaBoat | vol }} of the appropriate medium and {{ vCultureBoat | vol }} of culture. Transfer {{ vTransfer | vol }} of the mixture into each well using a multi-channel pipette.</p>
        <p>Transfer {{ vDrug | vol }} from the first tube in row A into each well in the first <b>column</b>. Repeat for each remaining tube and column.</p>
        <p>Transfer {{ vDrug | vol }} from the first tube in row B into each well in the first <b>row</b>. Repeat for each remaining tube and row.</p>
    </div>
</body>
</html>